.sujathanav{
    background-color: #ECE5E5;
    padding: 50px;
    margin: 100px;
    padding-bottom: 80px;
}
.sujathanavSide{
    position: absolute;
    top: 130px;
    left: 450px;
    font-size: 20px;
}
.sujathanavPara{
    font-size:23px;
}
.drNav{
    background:teal;
    font-size: 25px;
    padding: 10px 20px;
    position: absolute;
    right: 250px;
    top: 230px;
}
    