.sujatha{
    background-color: #ECE5E5;
    padding: 50px;
    margin: 90px;
    padding-bottom: 250px;;
}
.sujathaSide{
    position: absolute;
    top: 150px;
    left: 450px;
}
.avail1{
    background: green;
    font-size: 25px;
    padding: 10px 20px;
    position: absolute;
    left: 550px;
    top: 450px;
}
.notAvail1{
    background:red;
    font-size: 25px;
    padding: 10px 20px;
    position: absolute;
    right: 550px;
    top: 450px;
}
.signout1{
    background: teal;
    font-size: 25px;
    padding: 10px 20px;
    position: absolute;
    right: 150px;
    top: 550px;
}
